body {
    display: flex;
    margin: 0;
}


.left {
    background-image: url("unsplash.jpg");
    background-size: cover;
    width: 50vw;
    height: 100vh;
}


.imgtext {
    display: flex;
    flex-direction: column;
    position: absolute;
    color: white;
}


.right {
    display: flex;
    flex-direction: column;
}

.form {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    gap: 10px;
}

.form > * {
    flex-basis: calc(33.33%);
}

